<div class="card-group">
  <div class="card">
    <div class="card-header">Search Customers Near By Dublin
      <div class="card-header-actions">
        <span class="card-header-action">
          <small>Configuration</small>
        </span>
      </div>
    </div>
    <div class="card-body text-center text-white bg-primary py-5 d-md-down-none">
      <div>
        <h2>Welcome Offer</h2>
        <p>Get the lists of Customers you want to invite within 100km of Dublin for some food and drinks on us.
          All the Matched customers will show in Table below.</p>
        <button class="btn btn-lg btn-outline-light mt-3" type="button" (click)="getCustomers()">Show Customer's List</button>
      </div>
    </div>
  </div>
</div>