<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header text-right">
          
          <div class="card-header-actions">
            <span class="card-header-action btn btn-outline-danger btn-sm"
            [ngClass]="customerData.length == 0 ? 'disabled' : '' "
            (click)="clearTable()">
              <small>Clear List</small>
            </span>
          </div>
      </div>
      <div class="card-body">
        <p>Below are the customers with in 100 Km of Dublin.</p>
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>User Id</th>
              <th>Name</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>Distance from Dublin (Km)</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="customerData.length >0">
              <tr *ngFor="let c of customerData; let i = index">
                <td>{{i+1}}</td>
                <td>{{c.user_id}}</td>
                <td>{{c.name}}</td>
                <td>{{c.latitude}}</td>
                <td>{{c.longitude}}</td>
                <td>{{c.distance ? c.distance : 0}} KM </td>
                <td class="text-center">
                  <button class="btn btn-sm btn-outline-success" type="button" (click)="commingSoon()">Invite</button>
                </td>
              </tr>
            </ng-container>

            <ng-container *ngIf="customerData.length == 0">
              <tr class="text-center">
                <td colspan="7">
                  Opps ! no customers found in the giving distance.
                </td>
              </tr>
            </ng-container>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>